@keyframes heart {
	0% {}
	40% { transform: scale(1.25) }
	100% { transform: scale(1) }
}

body {
	background-color: #282c34;
	color: white;
	padding: 10px;
}

.landing-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2rem;
	max-width: 100vw;

	.header-icon {
		font-size: 3rem;
		@media (max-width: 1280px) {
			font-size: 2rem;
		}
	}

	@media (max-width: 1280px) {
		font-size: 1.25em;
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	
	$section-space: 400px;
	$small-breakpoint: 860px;

	.blurb {
		width: $section-space * 2;
		padding-right: $section-space;
		font-size: 1.5rem;
		text-align: right;

		@media (max-width: $small-breakpoint) {
			width: auto;
			padding: 0;
			text-align: center;
		}

		.heart {
			animation: heart 1s infinite;
			color: red;
		}
	}

	.description {
		width: $section-space * 2;
		padding-left: $section-space;

		@media (max-width: $small-breakpoint) {
			width: auto;
			padding: 0 20px;
		}

	}
}

.footer {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: max-content;
	margin: 100px auto 0;
	border-top: 1px solid white;
	padding: 10px 100px 0;
}
